# Node artifact files
node_modules

# Local IDE files
.vscode

# Local Build/Development Folders
.yalc
.next
dist
build

# Local Build/Development Files
yalc.lock

# Local mac book files
.DS_Store

# eslint cache file
.eslintcache
